<!-- Header  -->

{% include "navbar.html" %}
<!-- Banner Section-->
<section class="hero-section py-5">
    <div class="container row">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 order-lg-1 order-xl-1 order-md-2 order-sm-2 order-2">
            <div>
                <h1 class="display-4">Achieve Dominance as a Candidate</h1>
                <p class="lead">Join Our AI-Assisted Full Stack, Product Management, And QA Programs</p>
            </div>
            <div class="main-btn">
                <a href="{% url 'booldiscovery'%}" class="btn btn-success btn-lg">Book Discovery Call</a>
            </div>
        </div>
        <div
            class="col-12 col-md-12 col-lg-6 col-xl-6 hero-section-img order-lg-2 order-xl-2 order-md-1 order-sm-1 order-1">
            <img src="/static/asets/FutureLife.png" alt="This is a background image">
        </div>
    </div>
</section>
<!-- Programs Section-->
<section class="programs-section text-center py-5">
    <div class="container">
        <h2>Our Programs</h2>
        <p class="lead">
            Our programs are tailored to provide you with comprehensive training in essential technical skills,
            business acumen, interview preparation, case study techniques, and effective job search strategies,
            empowering you to secure your ideal tech role.
        </p>
    </div>
</section>
<!-- Product Management Card -->
<section class=" cards py-5">
    <div class="container">
        <div class="row g-4 justify-content-center">

            <!-- Product Management Card -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card shadow h-100 text-center card-hover">
                    <div class="card-body">
                        <img src="/static/asets/product-management-program.png" alt="Product Icon" class="icon">
                        <h5 class="card-title">Product Management</h5>
                        <p class="card-text">
                            Enhance your current skills and expertise to secure your desired
                            <strong>product management role</strong>.
                        </p>
                    </div>
                    <div class="card-btn">
                        <a href="#" class="btn btn-success">Learn More</a>
                    </div>
                </div>
            </div>

            <!-- AI-Assisted Full Stack Card -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card shadow h-100 text-center card-hover">
                    <div class="card-body">
                        <img src="/static/asets/icons8-chatgpt-1024.png" alt="AI Icon" class="icon">
                        <h5 class="card-title">AI-Assisted Full Stack</h5>
                        <p class="card-text">
                            Enhance <strong>AI-assisted technical abilities</strong> to navigate the product
                            management landscape more efficiently.
                        </p>
                    </div>
                    <div class="card-btn">
                        <a href="#" class="btn btn-success">Learn More</a>
                    </div>
                </div>
            </div>

            <!-- QA Engineering (SDET) Card -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card shadow h-100 text-center card-hover">
                    <div class="card-body ">
                        <img src="/static/asets/qa-engineering-sdet.png" alt="QA Icon" class="icon">
                        <h5 class="card-title">QA Engineering (SDET)</h5>
                        <p class="card-text">
                            Develop new skills and break into a technology career with our
                            <strong>QA Engineering (SDET)</strong> program.
                        </p>
                    </div>
                    <div class="card-btn">
                        <a href="#" class="btn btn-success">Learn More</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Helped section -->

<section class=" helped-sec py-5">
    <div class="container">
        <div class="container helped-head-container">
            <div class="text-center helped-head mb-5">
                <h2>Who We've Helped</h2>
                <p>"Future Life offers a career coaching program designed for aspiring and junior Product Managers.
                    Members gain access to comprehensive skills training, career support services, and a community
                    network to help you achieve your desired product management role."</p>
            </div>

            <div class="row g-4 justify-content-center">

                <!-- Industry List 1 -->
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <ul class="industry-list">
                        <li>Chemical Process Engineering</li>
                        <li>Management Consulting</li>
                        <li>Marketing</li>
                        <li>Business Analysis</li>
                        <li>Systems Analysis</li>
                        <li>Coding Bootcamp Graduates</li>
                    </ul>
                </div>

                <!-- Industry List 2 -->
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <ul class="industry-list">
                        <li>Mortgage Underwriting</li>
                        <li>MBA Graduates</li>
                        <li>Advertising</li>
                        <li>Partner Engineering</li>
                        <li>Mechanical Engineering</li>
                        <li>UX Research</li>

                    </ul>
                </div>

                <!-- Industry List 3 -->
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <ul class="industry-list">
                        <li>Manufacturing</li>
                        <li>Sales</li>
                        <li>Operations</li>
                        <li>Project Engineering</li>
                        <li>Engineering</li>
                        <li>UX Design</li>
                    </ul>
                </div>

                <!-- Industry List 4 -->
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <ul class="industry-list">
                        <li>Finance</li>
                        <li>Account Management</li>
                        <li>Project Management</li>
                        <li>Data Analysis</li>
                        <li>Quality Assurance</li>
                        <li>Masters Graduates</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- slider -->
<section class="slider-sec">
    <div class="container">
        <div class="text-center helped-head mb-5">
            <h2>Where Will You Go?</h2>
            <p>"With the hard work and dedication to the program that we expect, members have achieved these
                outcome"</p>
        </div>
    </div>
    <div class="container slider-main">
        <div class="slider-container" id="slider-container">
            <div class="slider">
                <img src="/static/asets/docker.png" alt="Image 1">
                <img src="/static/asets/google.png" alt="Image 1">
                <img src="/static/asets/kubernetes.png" alt="Image 1">
                <img src="/static/asets/microsoft.png" alt="Image 1">
                <img src="/static/asets/nike.png" alt="Image 1">
                <img src="/static/asets/postman.png" alt="Image 1">
                <img src="/static/asets/zapier.png" alt="Image 1">
                <img src="/static/asets/github.png" alt="Image 1">
            </div>
        </div>
    </div>
</section>


<!-- Rating Section -->
<section class="rating-sec">
    <div class="container">
        <div class="row rating-container">
            <h2>7 years, serving over +1,500+</h2>
            <div class="col-md-4 col-sm-6 rating-item">
                <img src="/static/asets/Google1.png" alt="Google" class="img-fluid">
                <p>Rated 5/5 on <span>Google</span></p>
                <div class="stars">
                    &#9733;&#9733;&#9733;&#9733;&#9733;
                </div>
            </div>
            <div class="col-md-4 col-sm-6 rating-item">
                <img src="/static/asets/switchup.png" alt="SwitchUp" class="img-fluid">
                <p>Rated 5/5 on <span>SwitchUp</span></p>
                <div class="stars">
                    &#9733;&#9733;&#9733;&#9733;&#9733;
                </div>
            </div>
            <div class="col-md-4 col-sm-6 rating-item">
                <img src="/static/asets/coursereport.png" alt="Course Report" class="img-fluid">
                <p>Rated 4.96/5 on <span>Course Report</span></p>
                <div class="stars">
                    &#9733;&#9733;&#9733;&#9733;&#9733;&#9734;
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Upgrade your career "Book Now" -->
<section class="upgrade-sec">
    <div class="container">
        <div class=" row UpgradeCareer">
            <div class="col-md-12 col-sm-12 UYC">
                <h1>Upgrade Your Career</h1>
            </div>
            <div class="col-md-12 col-sm-12 UYC">
                <p>Click the button below to book your discovery call.</p>
            </div>
            <div class="col-md-12 col-sm-12 UYC">
                <div class="button">
                    <a href="#" class="btn btn-success btn-lg">Book Discovery Call</a>
                </div>
            </div>
        </div>


    </div>
</section>

<!-- Footer  -->
{% include "footer.html" %}